* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5e7a8f;
}

.main-board {
    position: relative;
    height: 550px;
    width: 550px;
    display: grid;
    grid-template-columns: repeat(8, minmax(50px, 1fr));
    grid-template-rows: repeat(8, minmax(50px, 1fr));
}

.game-buttons {
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

img {
    width: 40px;
}

.grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}